.App {
  background: linear-gradient(120deg, #f3f3f3 0%, #c0c0c0 70%, #d3d3d3 100%);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* dj block buttons */
.btn-dj-control {
  min-height: 80px;        
  min-width: 160px;         
  height: 100px;            
  width: 100%;              
  font-size: 2rem;
  border-radius: 12px;
  font-weight: bold;
  display: flex;           
  align-items: center;
  justify-content: center;
}

.dj-section-border {
  border-radius: 14px;
  background: #1a1b20;             
  box-shadow: 0 4px 16px rgba(203,32,40,0.07);
}
 
/* label seperattion */
.dj-label-container {
  background: #23242a;        
  border: 2px solid whitesmoke;      
  border-radius: 10px 10px 0 0;
  padding: 0.75rem 1rem;
}
